<!-- <style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
</style>
<div id="container"></div>
<script>
    var width = window.innerWidth;
    var height = window.innerHeight;

    var stage = new Konva.Stage({
      container: 'container',
      width: width,
      height: height,
    });

    var layer = new Konva.Layer();
    stage.add(layer);

    // main API:
    var imageObj = new Image();
    imageObj.onload = () => {
      var yoda = new Konva.Image({
        x: 50,
        y: 50,
        image: imageObj,
        width: 106,
        height: 118,
      });

      // add the shape to the layer
      layer.add(yoda);
    };
    imageObj.src = '/assets/yoda.png';

    // alternative API:
    Konva.Image.fromURL('/assets/darth-vader.png', (darthNode) => {
      darthNode.setAttrs({
        x: 200,
        y: 50,
        scaleX: 0.5,
        scaleY: 0.5,
        cornerRadius: 20,
      });
      layer.add(darthNode);
    });
</script> -->

<div class="controler" z-index="1">
  <a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
  &nbsp;|&nbsp;
  <a [routerLink]="['/circle']" routerLinkActive="router-link-active">Circle</a>
  &nbsp;|&nbsp;
  <a [routerLink]="['/line']" routerLinkActive="router-link-active">Line</a>
  &nbsp;|&nbsp;
  <a [routerLink]="['/single-text-box']" routerLinkActive="router-link-active">SingleTextBox</a>
  &nbsp;|&nbsp;
  <a [routerLink]="['/konva-image']" routerLinkActive="router-link-active">Image</a>
  &nbsp;|&nbsp;
  <a [routerLink]="['/elipse']" routerLinkActive="router-link-active">Elipse</a>
  &nbsp;|&nbsp;
  <a [routerLink]="['/wedge']" routerLinkActive="router-link-active">Wedge</a>
</div>

<router-outlet></router-outlet>
